:root {
    --green-color: #95EE75;
    --blue-color: #DAECFC;
    --orange-color: #FED179;
    --black-color: #000000;
}

.content {
    position: relative;
}

.container-description {
    padding-top: 3%;
    padding-right: 10%;
}

.decision {
    box-sizing: border-box;
    background: var(--green-color);
    border-radius: 0px;

    border: 1px solid var(--black-color);
    width: 85px;
    height: 85px;
    transform: rotate(-135deg);
    z-index: 0;
    position: absolute;
}
/* landing.html */
.landing-best-describe {
    box-sizing: border-box;
    background: var(--green-color);
    border-radius: 0px;
    font-size: 12px;
    border-radius: 60%;

    border: 1px solid var(--black-color);
    width: 120px;
    height: 95px;
    z-index: 0;
    position: absolute;
    padding-top: 20px;

    left: -80px;
    top: 505px;
}
.decision.landing-title-56-1 {
    left: 300px;
    top: 510px;
}
.decision.landing-criteria-1 {
    width: 98px;
    height: 98px;
    left: 470px;
    top: 613px;
}
.decision.landing-criteria-2 {
    width: 98px;
    height: 98px;
    left: 540px;
    top: 876.4px;
}
.decision.landing-title-56-2 {
    left: 546px;
    top: 725px;
}
.decision.landing-150-mw {
    left: 300px;
    top: 850px;
}
.decision.landing-exempt {
    left: 745px;
    top: 256px;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    opacity: 0.5;
    border: solid;
    border-color: var(--black-color);
    
    position: absolute;
}
/* landing.html */
.circle.circle-1 {
    left: 508px;
    top: 426px;
}
.circle.circle-2 {
    left: 62px;
    top: 538px;
}
.circle.circle-3 {
    left: 287px;
    top: 878px;
}
.circle.circle-4 {
    left: 723.5px;
    top: 753px;
}
.circle.circle-5 {
    left: 470px;
    top: 284px;
}
.circle.circle-6 {
    left: 276.5px;
    top: 155px;
}
.circle.circle-7 {
    left: 716px;
    top: 648px;
}

.process {
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 30px;
    z-index: 0;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;

    background: #E3E3FF;
    border: 1px solid var(--black-color);

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
}
/* landing.html */
.process.alternative-1 {
    left: 746px;
    top: 672px;
    font-size: 11px;
}
.process.alternative-2 {
    left: 650px;
    top: 440px;
    font-size: 11px;
}
.process.alternative-3 {
    left: 749.5px;
    top: 885px;
    font-size: 11px;
}
.process.alternative-4 {
    left: 310px;
    top: 258px;
    font-size: 11px;
}

.txt {
    z-index: 1;
    font-style: normal;
    line-height: 16px;
    text-align: center;
    color: var(--black-color);
    position: absolute;
    white-space: nowrap;
}
/* cpcn-5-mw.html */
.txt.mw-5-title {
    left: 110px;
    top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
/* dbq-pbr.html */
.txt.deq-pbr-title {
    left: 355px;
    top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.txt.noi-solar-energy-1 { 
    width: 125px;
    height: 100px;
    left: 200px;
    top: 420px;
    line-height: 1.3;
    z-index: 2;

    font-size: 9.5px;
}
.txt.noi-solar-energy-2 {
    width: 200px;
    height: 200px;
    left: 300px;
    top: 415px;

    z-index: 2;
    line-height: 1.3;

    font-size: 9.5px;
}
/* cpcn-100-mw.html */
.txt.mw-100-title {
    left: 220px;
    top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.txt.operational {
    left: 915px;
    top: 621px;
    font-size: 15px;
    font-weight: 500;
}
.txt.error-404 {
    left: 610px;
    top: 250px;
    font-size: 28px;
    font-weight: 400;
}
/* noi-500-kw.html */
.txt.kw-500-title {
    left: 220px;
    top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
/* deq-130-permit.html */
.txt.deq-permit-title {
    left: 380px;
    top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.txt.sgia-lt-1{
    left: 600px;
    top: 230px;
    font-size: 11px;

    z-index: 3;
}
.txt.sgia-lt-2{
    left: 600px;
    top: 228px;
    font-size: 11px;

    z-index: 3;
}
.txt.sgia-gt{
    left: 903px;
    top: 230px;
    font-size: 11px;
    display: none;

    z-index: 3;
}
.txt.isa-gt{
    left: 840px;
    top: 230px;
    font-size: 11px;

    z-index: 3;
}
.txt.csa-gt{
    left: 970px;
    top: 230px;
    font-size: 11px;

    z-index: 3;
}
.txt.noi-permit {
    width: 125px;
    height: 100px;
    left: 205px;
    top: 430px;

    z-index: 2;

    font-size: 12px;
}

/* exempt-130-permit.html */
.txt.exempt-permit-title {
    left: 300px;
    top: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.txt.operational-exempt {
    left: 915px;
    top: 254px;
    font-size: 15px;
    font-weight: 500;
}
/* landing.html */
.txt.landing-noi-500-kw {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 67px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-exemption {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 175px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-130-permit {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 283px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-5-100-mw-1 {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 375px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-pbr-1 {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 475px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-5-100-mw-2 {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 575px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-pbr-2 {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 675px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-pbr-3 {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 875px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-100-mw-1 {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 985px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-100-mw-2 {
    width: 225px;
    height: 100px;
    left: 920px;
    top: 785px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}
.txt.landing-title-56 {
    width: 225px;
    height: 95px;
    left: 230px;
    top: 522px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
}
.txt.landing-criteria-1 {
    width: 225px;
    height: 95px;
    left: 405px;
    top: 626px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
}
.txt.landing-criteria-2 {
    width: 225px;
    height: 95px;
    left: 477px;
    top: 889px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
}
.txt.landing-title-56-2 {
    width: 225px;
    height: 95px;
    left: 476px;
    top: 736px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
}
.txt.landing-150-mw {
    width: 155px;
    height: 96px;
    left: 265px;
    top: 870px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 11px;
}
.txt.landing-130-exemption {
    width: 225px;
    height: 96px;
    left: 675px;
    top: 270px;

    text-decoration: none;
    line-height: 16px;
    text-align: center;
    font-size: 11px;
}

.line {
    border: 1px solid var(--black-color);
    z-index: -1;
    position: absolute;
}
/* cpcn-5-mw.html */
.line.line-17 {
    width: 495.5px;
    left: -70px;
    top: 352.5px;

    z-index: 2;
    border: 0.5px solid var(--black-color);

    transform: rotate(90deg);
}
.line.line-21 {
    width: 20px;
    left: 168px;
    top: 630px;

    transform: rotate(90deg);
}
.line.line-22 {
    width: 720px;
    left: 177.5px;
    top: 630px;
}
.line.line-23 {
    width: 25px;
    left: 180px;
    top: 251px;

    z-index: 2;
    transform: rotate(90deg);
}
.line.line-24 {
    width: 800px;
    left: 192px;
    top: 251px;

    z-index: 2;
}
.line.line-25 {
    width: 100px;
    left: 300px;
    top: 352px;

    z-index: 1;

    border: dashed;
}
.line.line-26 {
    width: 300px;
    left: 300px;
    top: 453px;

    z-index: 1;

    border: dashed;
}
.line.line-27 {
    width: 25px;
    left: 180px;
    top: 550px;

    z-index: 2;
    transform: rotate(90deg);
}
.line.line-28 {
    width: 350px;
    left: 370px;
    top: 550px;

    z-index: 1;
}
.line.line-29 {
    width: 40px;
    left: 550px;
    top: 500px;

    z-index: 1;
    transform: rotate(90deg);
}
.line.line-30 {
    width: 106px;
    left: 860px;
    top: 300px;

    z-index: 1;
    transform: rotate(90deg);
}
.line.line-31 {
    width: 242px;
    left: 752px;
    top: 307.5px;

    z-index: 1;
}
.line.line-32 {
    width: 265px;
    left: 620.3px;
    top: 440px;

    z-index: 1;
    transform: rotate(90deg);
}
.line.line-33 {
    width: 200px;
    left: 552px;
    top: 453px;

    z-index: 1;
}
.line.line-43 {
    width: 100px;
    left: 450px;
    top: 352px;

    z-index: 1;
}
.line.line-44 {
    width: 250px;
    left: 210px;
    top: 550px;

    border: dashed;

    z-index: 1;
}
.line.line-45 {
    width: 100px;
    left: 900px;
    top: 453px;

    z-index: 1;

    border: dashed;
}
.line.line-46 {
    width: 100px;
    left: 500px;
    top: 352.5px;

    z-index: 1;
}
.line.line-69 {
    width: 65px;
    left: 688px;
    top: 352.5px;

    z-index: 1;
}

/* dbq-pbr.html */
.line.line-34 {
    width: 800px;
    left: 192px;
    top: 453px;
    z-index: 1;
}

.line.line-35 {
    width: 25px;
    left: 180px;
    top: 453px;

    z-index: 2;
    transform: rotate(90deg);
}
.line.line-36 {
    width: 25px;
    left: 255px;
    top: 500px;

    border: dashed;
    z-index: 1;
    transform: rotate(90deg);
}
.line.line-37 {
    width: 40px;
    left: 600px;
    top: 500px;

    border: 0.5px dashed;
    z-index: 2;
    transform: rotate(90deg);
}
.line.line-38 {
    width: 66px;
    left: 960px;
    top: 495px;

    z-index: 2;
   /* border: dashed;*/
    transform: rotate(90deg);
}
.line.line-39 {
    width: 200px;
    left: 500px;
    top: 352px;

    z-index: 1;
}
.line.line-40 {
    width: 162px;
    left: 773.5px;
    top: 388px;

    z-index: 1;
    transform: rotate(90deg);
}
.line.line-41 {
    width: 140px;
    left: 854px;
    top: 307.5px;

    z-index: 1;
}
.line.line-42 {
    width: 55px;
    left: 966px;
    top: 281.1px;

    z-index: 1;
    transform: rotate(90deg);
}
.line.line-54 {
    width: 106px;
    left: 860px;
    top: 300px;

    z-index: 1;
    transform: rotate(90deg);
    display: none;
}
.line.line-55 {
    width: 233px;
    left: 680px;
    top: 352px;

    display: none;
    z-index: 1;
}
.line.line-56 {
    width: 200px;
    left: 650px;
    top: 452px;

    display: none;
    z-index: 1;
    transform: rotate(90deg);
}
.line.line-57 {
    width: 200px;
    left: 550px;
    top: 453px;

    display: none;
    z-index: 1;
}
.line.line-65 {
    width: 155px;
    left: 700px;
    top: 352px;

    z-index: 1;
}

.line.line-70 {
    width: 75px;
    left: 725px;
    top: 490px;

    z-index: 2;
    transform: rotate(90deg);
}

.line.line-71 {
    width: 230px;
    left: 763px;
    top: 527px;

    z-index: 2;
  
}
/* cpcn-100-mw.html */
.line.line-43 {
    width: 500px;
    left: 192px;
    top: 550px;

    z-index: 1;
}
.line.line-47 {
    width: 413px;
    left: 500px;
    top: 352.5px;

    z-index: 1;
}
.line.line-48 {
    width: 200px;
    left: 620px;
    top: 452px;

    z-index: 1;
    transform: rotate(90deg);
}
.line.line-49 {
    width: 100px;
    left: 620px;
    top: 452px;

    z-index: 1;
}
.line.line-50 {
    width: 110.5px;
    left: 858px;
    top: 298.1px;

    z-index: 1;
    transform: rotate(90deg);
}
/* noi-500-kw.html */
.line.line-51 {
    width: 101.5px;
    left: 698.5px;
    top: 403px;

    display: none;
    z-index: 1;
    transform: rotate(90deg);
}
.line.line-52 {
    width: 410px;
    left: 192px;
    top: 251px;

    z-index: 2;
}
.line.line-53 {
    width: 720px;
    left: 192px;
    top: 251px;

    z-index: 2;
    display: none;
}
.line.line-67 {
    width: 162px;
    left: 670px;
    top: 433px;

    display: none;
    z-index: 1;
    transform: rotate(90deg);
}
/* deq-130-permit.html */
.line.line-58 {
    width: 100px;
    left: 750px;
    top: 402px;

    display: none;
    z-index: 1;
    transform: rotate(90deg);
}
.line.line-66 {
    width: 250px;
    left: 500px;
    top: 352.5px;

    z-index: 1;
}
.line.line-68 {
    width: 20px;
    left: 892px;
    top: 352px;

    display: none;
    z-index: 1;
}
/* exempt-130-permit.html */
.line.line-59 {
    width: 104px;
    left: 125px;
    top: 176px;

    z-index: 2;
    border: 0.5px solid var(--black-color);

    transform: rotate(90deg);
}
.line.line-60 {
    width: 25px;
    left: 180px;
    top: 175px;

    z-index: 2;
    transform: rotate(90deg);
}
.line.line-61 {
    width: 25px;
    left: 500px;
    top: 175px;

    z-index: 2;
    transform: rotate(90deg);
}
.line.line-62 {
    width: 320px;
    left: 192px;
    top: 175px;

    z-index: 2;
}
.line.line-63 {
    width: 20px;
    left: 168px;
    top: 262px;

    transform: rotate(90deg);
}
.line.line-64 {
    width: 720px;
    left: 177.5px;
    top: 262px;
}
/* landing.html */
.line.landline-1 {
    width: 275px;
    left: 35px;
    top: 552px;
}
.line.landline-2 {
    width: 223.1px;
    left: 231px;
    top: 550.5px;

    transform: rotate(90deg);
}
.line.landline-3 {
    width: 390px;
    left: 342px;
    top: 661.5px;
    z-index: 0;
}
.line.landline-4 {
    width: 395px;
    left: 518.8px;
    top: 592.95px;
    z-index: 0;
}
.line.landline-5 {
    width: 390px;
    left: 522.5px;
    top: 400px;
    z-index: 0;
}
.line.landline-6 {
    width: 390.8px;
    left: 522.5px;
    top: 480px;
    z-index: 0;
}
.line.landline-7 {
    width: 80.4px;
    left: 483px;
    top: 440px;

    transform: rotate(90deg);
}
.line.landline-8 {
    width: 180px;
    left: 343px;
    top: 440px;
    z-index: 0;
}
.line.landline-9 {
    width: 725px;
    left: -285px;
    top: 530px;

    transform: rotate(90deg);
}
.line.landline-10 {
    width: 225px;
    left: 77px;
    top: 892px;
    z-index: 0;
}
.line.landline-11 {
    width: 215.5px;
    left: 77px;
    top: 168px;
    z-index: 0;
}
.line.landline-12 {
    width: 258.5px;
    left: 213.3px;
    top: 895.5px;

    transform: rotate(90deg);
}
.line.landline-13 {
    width: 597px;
    left: 342px;
    top: 1024px;
    z-index: 0;
}
.line.landline-14 {
    width: 580px;
    left: 342px;
    top: 767px;
    z-index: 0;
}
.line.landline-15 {
    width: 250px;
    left: 464px;
    top: 899px;

    transform: rotate(90deg);
}
.line.landline-16 {
    width: 263.2px;
    left: 650px;
    top: 925px;
    z-index: 0;
}
.line.landline-17 {
    width: 230px;
    left: 297.5px;
    top: 899.5px;

    transform: rotate(90deg);
}
.line.landline-18 {
    width: 501.6px;
    left: 411.65px;
    top: 1005px;
    z-index: 0;
}
.line.landline-19 {
    width: 158px;
    left: 660px;
    top: 845.5px;

    transform: rotate(90deg);
}
.line.landline-20 {
    width: 240px;
    left: 172px;
    top: 178.5px;

    transform: rotate(90deg);
}
.line.landline-21 {
    width: 622.5px;
    left: 291.4px;
    top: 59px;
    z-index: 0;
}
.line.landline-22 {
    width: 622.2px;
    left: 291.3px;
    top: 298px;
    z-index: 0;
}
.line.landline-23 {
    width: 155px;
    left: 408px;
    top: 221px;

    transform: rotate(90deg);
}
.line.landline-24 {
    width: 250.2px;
    left: 485px;
    top: 223px;
    z-index: 0;
}
.line.landline-25 {
    width: 250px;
    left: 485px;
    top: 144px;
    z-index: 0;
}
.line.landline-26 {
    width: 200px;
    left: 734px;
    top: 180px;
    z-index: 0;
}
.line.landline-27 {
    width: 80px;
    left: 694.5px;
    top: 183.4px;
    z-index: 0;

    transform: rotate(90deg);
}
.line.landline-28 {
    width: 302.5px;
    left: 484.3px;
    top: 344px;
    z-index: 0;
}
.line.landline-29 {
    width: 50px;
    left: 762.5px;
    top: 230px;
    z-index: 0;

    transform: rotate(90deg);
}
.line.landline-30 {
    width: 126.3px;
    left: 787px;
    top: 205.55px;
    z-index: 0;
}
.line.landline-31 {
    width: 324.2px;
    left: 589px;
    top: 993px;
    z-index: 0;
}
.line.landline-32 {
    width: 140px;
    left: 770px;
    top: 873px;
    z-index: 0;
}
.line.landline-33 {
    width: 121px;
    left: 672px;
    top: 653px;
    z-index: 0;

    transform: rotate(90deg);
}
.line.landline-34 {
    width: 200px;
    left: 732px;
    top: 713px;
    z-index: 0;
}
.line.landline-35 {
    width: 200px;
    left: 732px;
    top: 614.5px;
    z-index: 0;
}

.project {
    box-sizing: border-box;

    position: absolute;
    width: 160px;
    height: 57px;
    z-index: 0;
    line-height: 16px;
    text-align: center;
    border-radius: 0px;

    background: var(--blue-color);
    border: 1px solid var(--black-color);
}
/* landing.html */
.project.landing-5-100-mw {
    width: 140px;
    left: 118px;
    top: 525px;
    padding: 10px;
    font-size: 11px;
}
.project.landing-5-mw {
    width: 140px;
    left: 118px;
    top: 140px;
    padding: 10px;
    font-size: 11px;
}
.project.landing-100-mw {
    width: 140px;
    left: 118px;
    top: 865px;
    padding: 10px;
    font-size: 11px;
}
.project.landing-2 {
    width: 190px;
    height: 50px;

    left: 515px;
    top: 120px;
    padding: 10px;
    font-size: 12px;
    padding-top: 8px;
    background-color: #FFFBD7;
}
.project.landing-3 {
    width: 190px;
    height: 50px;

    left: 515px;
    top: 200px;
    padding: 3px;
    font-size: 12px;
    padding-top: 8px;
    background-color: #FFFBD7;
}
.project.landing-4 {
    width: 190px;
    height: 50px;

    left: 515px;
    top: 275px;
    padding: 5px;
    font-size: 12px;
    padding-top: 8px;
    background-color: #FFFBD7;
}

.landing-permit {
    position: absolute;
    width: 270px;
    height: 85px;
    z-index: 0.5;
}
/* landing.html */
.landing-permit.permit-1 {
    left: 910px;
    top: 50px;
}
.landing-permit.permit-2 {
    left: 910px;
    top: 150px;
}
.landing-permit.permit-3 {
    left: 910px;
    top: 250px;
}
.landing-permit.permit-4 {
    left: 910px;
    top: 350px;
}
.landing-permit.permit-5 {
    left: 910px;
    top: 450px;
}
.landing-permit.permit-6 {
    left: 910px;
    top: 550px;
}
.landing-permit.permit-7 {
    left: 910px;
    top: 650px;
}
.landing-permit.permit-8 {
    left: 910px;
    top: 750px;
}
.landing-permit.permit-9 {
    left: 910px;
    top: 850px;
}
.landing-permit.permit-10 {
    left: 910px;
    top: 950px;
}

.box {
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    z-index: 1;

    background: white;
    color: var(--black-color);
}
/* base.html */
.box.no-4 {
    padding: 1px 9px;
    left: 859px;
    top: 289px;
}
.box.no-5 {
    padding: 1px 9px;
    left: 322px;
    top: 460px;
}
.box.no-6 {
    padding: 1px 9px;
    left: 580px;
    top: 584px;
}
.box.no-7 {
    padding: 1px 9px;
    left: 322px;
    top: 975px;
}
.box.no-8 {
    padding: 1px 9px;
    left: 569px;
    top: 1000px;
}
.box.no-9 {
    padding: 1px 9px;
    left: 665px;
    top: 758px;
}
.box.yes-4 {
    padding: 0.5px 6px;
    left: 830px;
    top: 197px;
}
.box.yes-5 {
    padding: 0.5px 6px;
    left: 322px;
    top: 627px;
}
.box.yes-6 {
    padding: 0.5px 6px;
    left: 620px;
    top: 653px;
}
.box.yes-7 {
    padding: 0.5px 6px;
    left: 322px;
    top: 792px;
}
.box.yes-8 {
    padding: 0.5px 6px;
    left: 670px;
    top: 916px;
}
.box.yes-9 {
    padding: 0.5px 6px;
    left: 568px;
    top: 833px;
}

.lane {
    box-sizing: border-box;

    position: absolute;
    width: 1100px;
    height: 100px;

    border: 1px solid #000000;
}
.lane.federal {
    background: #FFD0D0;
    left: 0px;
    top: 105px;

    font-size: 16px;
    font-weight: 500;
    padding: 38px 29px;
}
.lane.interconnections {
    background: #FFECC8;
    left: 0px;
    top: 204px;

    font-size: 16px;
    font-weight: 500;
    padding: 16px 25px;
}
.lane.localities {
    background: #FDFFE5;
    left: 0px;
    top: 303px;

    font-size: 16px;
    font-weight: 500;
    padding: 36px 50px;
}
.lane.deq-lane {
    background: #E3FBE2;
    left: 0px;
    top: 402px;

    font-size: 16px;
    font-weight: 500;
    padding: 36px 68px;
}
.lane.scc-lane {
    background: #E2E1FF;
    left: 0px;
    top: 501px;

    font-size: 16px;
    font-weight: 500;
    padding: 36px 68px;
}
/* dbq-pbr.html */
.lane.deq-pbr-lane {
    background: #E3FBE2;
    left: 0px;
    top: 402px;
    height: 200px;

    font-size: 16px;
    font-weight: 500;
    padding: 80px 68px;
}
/* cpcn-100-mw.html */
.lane.interconnections-100 {
    background: #FFECC8;
    left: 0px;
    top: 204px;

    font-size: 14px;
    font-weight: 500;
    padding: 35px 16px;
}
/* noi-500-kw.html */
.lane.interconnections-500 {
    background: #FFECC8;
    left: 0px;
    top: 204px;

    font-size: 14px;
    font-weight: 500;
    padding: 18px 16px;
}
/* exempt-130-permit.html */
.lane.interconnections-exempt {
    background: #FFECC8;
    left: 0px;
    top: 124px;
    height: 105px;

    font-size: 16px;
    font-weight: 500;
    padding: 16px 25px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    
    position: absolute;
    left: 0px;
    top: 760px;

    width:100%
}

landing-footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    
    position: absolute;
    left: 0px;
    top: 1170px;

    width:100%
}

about-footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    
    position: absolute;
    left: 0px;
    top: 1300px;

    width:100%
}

.va-energy-logo {
    width: 350px;
    height: 80px;
}
.vt-logo {
    width: 340px;
    height: 80px;
}
.solar-panels-img {
    position: absolute;
    left: 700px;
    top: 80px;

    width: 350px;
    height: 220px
}

.arrow-head {
    position: absolute;
    left: 873px;
    top: 602.5px;

    font-size: 35px;
}
.arrow-head-exempt {
    position: absolute;
    left: 874px;
    top: 234.5px;

    font-size: 35px;
}

.mw-20 {
    background-color: #FFCF72;
    color: var(--black-color);
    font-weight: 500;
    border-color: #000000;
    border-width: 0.8px;
}
.mw-20.btn-1 {
    position: absolute;
    left: 26px;
    top: 256px;
}
.mw-20.btn-2 {
    position: absolute;
    left: 92px;
    top: 256px;
}
.mw-20.btn-3 {
    position: absolute;
    left: 20px;
    top: 256px;
}
.mw-20.btn-4 {
    position: absolute;
    left: 82px;
    top: 256px;
}
.mw-20.btn-5 {
    position: absolute;
    left: 15px;
    top: 256px;
    display: none;
}
.mw-20.btn-6 {
    position: absolute;
    left: 95px;
    top: 256px;
    display: none;
}
.mw-20.btn-7 {
    position: absolute;
    left: 13px;
    top: 256px;
    font-size: 13px;
}
.mw-20.btn-8 {
    position: absolute;
    left: 93px;
    top: 256px;
    font-size: 13px;
}
.mw-20.btn-9 {
    position: absolute;
    left: 18px;
    top: 256px;
    font-size: 14px;
    display: none;
}
.mw-20.btn-10 {
    position: absolute;
    left: 110px;
    top: 256px;
    font-size: 14px;
    display: none;
}
.mw-20.btn-11 {
    position: absolute;
    left: 18px;
    top: 178px;
    font-size: 14px;
}
.mw-20.btn-12 {
    position: absolute;
    left: 110px;
    top: 178px;
    font-size: 14px;
}

.reviews {
    background-color: #FF8E8E;
    color: var(--black-color);
    border: 1px solid #000000;
    white-space: nowrap;

    position: absolute;
    z-index: 2;
    font-size: 10.5px; 
}
.reviews.army-corps {
    left: 210px; /* united army corps of engineers*/
    top: 114px;
    height: 41px;
    width: 620px;
    border-radius: 0px;
    
    padding-top: 0.5px;
    padding-left:64px;
    text-align: left;
    font-size: 9.5px; 
}
.reviews.btn-1 {
    left: 224px; /* clean waters certification*/
    top: 128.5px;

    font-size: 9.5px;
    background: #FFD0D0;
    text-align: center;
    z-index: 2;
}
.reviews.btn-2 { /* clean waters 404 permit*/
    left: 425px;
    top: 128.5px;

    font-size: 9.5px;
    background: #FFD0D0;
    text-align: center;
    z-index: 3;

}
.reviews.fish-wildlife { /* united states fish and wild life*/
    left: 210px;
    top: 160px;
    height: 41px;
    width: 620px;
    
    padding-top: 0.5px;
    padding-left:64px;
    text-align: left;
    border-radius: 0px;
    z-index: 2;
    font-size: 9.5px; 
}

.reviews.btn-3 {
    
    left: 224px; /* habitat conservation plan*/
    top: 175px;

    font-size: 9.5px;
    background: #FFD0D0;
    text-align: center;
}
.reviews.btn-4 {
    left: 360px; /* new incedental take permit*/
    top: 175px;

    font-size: 9.5px;
    background: #FFD0D0;
    text-align: center;
}

.inter {
    box-sizing: border-box;

    position: absolute;
    font-size: 12px;
    line-height: 16px;
    z-index: 3;
    border-radius: 0;

    width: 100px;
    height: 58px;

    text-align: center;
    background: #FFCF72;
    border: 1px solid #000000;
}
.inter.inter-1 {
    left: 205px;
    top: 225px;
    display: none;

    padding: 12px 7.5px;
}
.inter.inter-2 {
    left: 320px;
    top: 225px;
    display: none;

    padding: 18px 8px;
}
.inter.inter-3 {
    left: 435px;
    top: 225px;
    display: none;

    padding: 12px 8px;
}
.inter.inter-4 {
    left: 550px;
    top: 225px;
    display: none;

    padding: 11px 3px;
}
.inter.inter-5 {
    left: 665px;
    top: 225px;
    display: none;

    padding: 12px 3px;
}
.inter.inter-6 {
    left: 780px;
    top: 225px;
    display: none;

    width: 110px;
    height: 58px;

    padding: 10px 0px;
}
.inter.inter-7 {
    left: 905px;
    top: 225px;
    display: none;

    width: 170px;
    height: 58px;

    padding: 10px 0px;
}
.inter.inter-8 {
    left: 200px;
    top: 225px;

    padding: 10px 4px;
}
.inter.inter-9 {
    left: 305px;
    top: 225px;

    padding: 11px 3px;
}
.inter.inter-10 {
    left: 411px;
    top: 225px;

    padding: 12px 3px;
}
.inter.inter-11 {
    left: 517px;
    top: 225px;

    padding: 11px 0px;
}
.inter.inter-12 {
    left: 623px;
    top: 225px;

    padding: 12px 8px;
}
.inter.inter-13 {
    left: 250px;
    top: 225px;

    width: 145px;
    height: 58px;

    padding: 18px 8px;
}
.inter.inter-14 {
    left: 270px;
    top: 148px;

    width: 145px;
    height: 58px;

    padding: 18px 8px;
}
.inter.inter-15 {
    left: 440px;
    top: 225px;

    padding: 17px 7.5px;
}
.inter.inter-16 {
    left: 730px;
    top: 225px;

    padding: 18px 4px;
}
.inter.inter-17 {
    left: 305px;
    top: 225px;
    padding: 11px 3px;
}
.txt.inter-17 {
    left: 962px; /* Adjust the left position as needed */
    top: 230px; /* Adjust the top position as needed */
    font-size: 10px; /* Adjust the font size as needed */
    color: #000; /* Adjust the text color as needed */
    z-index: 4; /* Ensure the text appears above the permit image */ 
}

.inter-doc-1 {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;

    width: 160px;
    height: 75px;
    left: 600px;
    top: 220px;
}
.inter-doc-2 {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;

    width: 160px;
    height: 75px;
    left: 905px;
    top: 220px;

    display: none;
}
.inter-doc-3 {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;

    width: 120px;
    height: 65px;
    left: 840px;
    top: 225px;
}
.inter-doc-4 {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;

    width: 120px;
    height: 65px;
    left: 970px;
    top: 225px;
}


.inter-permit-here {
    position: absolute; /* Position the permit image container absolutely */
    width: 560px;
    height: 75px;
    left: 170px;
    top: 195px;
    z-index: 3;
}


.txt-inter-1 {
    position: absolute; /* Position the text container absolutely */
    left: 200px; /* Adjust the left position as needed */
    top: 230px; /* Adjust the top position as needed */
    font-size: 12px; /* Adjust the font size as needed */
    color: #000; /* Adjust the text color as needed */
    z-index: 4; /* Ensure the text appears above the permit image */
}

.local {
    box-sizing: border-box;

    position: absolute;
    font-size: 10px;
    z-index: 2;
    border-radius: 0px;
    text-align: left;

    background: #FEFFC1;
}
.local.local-1 {
    left: 200px;
    top: 315px;
    width: 105px;
    height: 76px;

    border: 1px dashed #000000;
    padding: 6px 10px;
}
.local.local-2 {
    left: 350px;
    top: 315px;
    width: 150px;
    height: 76px;

    border: 1px solid #000000;
    padding: 13px 12px;
}
.local.local-3 {
    left: 540px;
    top: 315px;
    width: 150px;
    height: 76px;

    border: 1px solid #000000;
    padding: 13px 12px;
}
.local.local-4 {
    left: 920px;
    top: 315px;
    width: 160px;
    height: 76px;

    border: 1px solid #000000;
    padding: 13px 15px;
}
/* deq-130-permit.html */
.local.local-permit-2 {
    left: 350px;
    top: 315px;
    width: 150px;
    height: 76px;

    text-align: center;
    font-size: 12px;
    border: 1px solid #000000;
    padding: 16px 16px;
}
.local.local-permit-3 {
    left: 730px;
    top: 315px;
    width: 165px;
    height: 76px;

    text-align: center;
    border: 1px solid #000000;
    padding: 20px 12px;
}

.deq {
    box-sizing: border-box;

    position: absolute;
    font-size: 10px;
    z-index: 2;

    background: #B6F2A1;

}
.deq.deq-1 {
    width: 0px;
    height: 76px;
    left: 200px;
    top: 414px;
    border-radius: 0;
    text-align: left;

    border: 1px dashed #000000;
    padding: 6px 10px;
}
.deq.deq-2 {
    width: 222px;
    height: 76px;
    left: 400px;
    top: 414px;
    border-radius: 0px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    padding: 6px 10px;
}
.deq.deq-3 {
    left: 414px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 8px;
}
.deq.deq-4 {
    left: 464px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 8px;
}
.deq.deq-5 {
    left: 514px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 8px;
}
.deq.deq-6 {
    left: 564px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 8px;
}
.deq.deq-7 {
    width: 150px;
    height: 76px;
    left: 770px;
    top: 414px;

    border: 1px dashed #000000;
    padding: 6px 10px;
}
.deq.deq-8 {
    width: 124px;
    height: 76px;
    left: 950px;
    top: 414px;
    text-align: left;
    border-radius: 0;

    border: 1px solid #000000;
    padding: 13px 12px;
}
.deq.deq-9 {
    left: 618px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 6px;
}

.deq.deq-pbr-1 {
    width: 165px;
    height: 70px;
    left: 533px;
    top: 515px;
    border-radius: 0px;
    border: 1px dashed #000000;
    line-height: 1.3;

    font-size: 10px;
    padding: 6px;

}
.deq.deq-pbr-2 {
    width: 278px;
    height: 76px;
    left: 480px;
    top: 414px;
    border-radius: 0px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    padding: 6px 10px;
}
.deq.deq-pbr-3 {
    left: 494px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 8px;
}
.deq.deq-pbr-4 {
    left: 544px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 8px;
}
.deq.deq-pbr-5 {
    left: 594px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 8px;
}
.deq.deq-pbr-6 {
    left: 644px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 8px;
}
.deq.deq-pbr-7 {
    width: 140px;
    height: 68px;
    left: 778px;
    top: 508px;
    
    line-height:1.3;
    border: 1px solid #000000;
    padding: 7px 10px;
}
.deq.deq-pbr-8 {
    width: 124px;
    height: 76px;
    left: 950px;
    top: 414px;
    border-radius: 0px;
    text-align: left;

    border: 1px solid #000000;
    padding: 13px 12px;
}
.deq.deq-pbr-9 {
    left: 698px;
    top: 446px;

    text-align: center;
    font-size: 11px;
    border: 1px solid #000000;
    background: #E3FBE2;
    padding: 6px 6px;
}
.deq-doc-1 {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;

    width: 125px;
    height: 75px;
    left: 205px;
    top: 420px;
}
.deq-doc-2 {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;

    width: 120px;
    height: 75px;
    left: 205px;
    top: 420px;
}
.deq-doc-3 {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;

    width: 120px;
    height: 75px;
    left: 340px;
    top: 420px;
}

.scc {
    box-sizing: border-box;

    position: absolute;
    font-size: 10px;
    z-index: 2;

    background: #CA95FF;
}
.scc-1 {
    width: 100px;
    height: 76px;
    left: 205px;
    top: 513px;

    border: 1px dashed #000000;
    padding: 12px 12px;
}
.scc-2 {
    width: 145px;
    height: 76px;
    left: 340px;
    top: 513px;

    border: 1px solid #000000;
    padding: 13px 12px;
}
.scc-3 {
    width: 155px;
    height: 76px;
    left: 520px;
    top: 513px;

    border: 1px solid #000000;
    padding: 20px 10px;
}
.scc-4 {
    width: 150px;
    height: 76px;
    left: 710px;
    top: 513px;

    font-size: 12px;
    border: 1px solid #000000;
    padding: 27px 24px;
    border-radius: 400px;

}
/* cpcn-mw-100.html */
.scc-100-mw-1 {
    width: 200px;
    height: 76px;
    left: 205px;
    top: 513px;
    font-size: 12px;

    border: 1px solid #000000;
    padding: 26px 21px;
}
.scc-100-mw-4 {
    width: 150px;
    height: 76px;
    left: 625px;
    top: 513px;

    font-size: 12px;
    border: 1px solid #000000;
    padding: 27px 23px;
    border-radius: 400px;

}

/* dbq-pbr.html */
.scc-pbr-1 {
    width: 150px;
    height: 46px;
    left: 190px;
    top: 508px;
    border-radius: 0px;
    text-align: left;
    line-height: 1.3;
    padding: 2px 12px 12px 4px;
    border: 1px dashed #000000;
   /* padding: 12px 12px;*/
    background: #B6F2A1;
}
.scc-pbr-2 {
    width: 125px;
    height: 76px;
    left: 205px;
    top: 415px;

    border: 1px solid #000000;
    padding: 14px 12px;
    background: #B6F2A1;
}
.scc-pbr-4 {
    width: 150px;
    height: 76px;
    left: 720px;
    top: 415px;

    font-size: 12px;
    border: 1px solid #000000;
    padding: 27px 23px;
    border-radius: 400px;
    background: #B6F2A1;

}
.scc-pbr-5 {
    width: 150px;
    height: 68px;
    left: 770px;
    top: 415px;
    text-align: center;

    font-size: 11px;
    border: 1px solid #000000;
    padding: 18px 15px;
    border-radius: 400px;
    background: #B6F2A1;

}
.scc-pbr-6 {
    width: 150px;
    height: 68px;
    left: 940px;
    top: 415px;
    text-align: center;

    font-size: 11px;
    border: 1px solid #000000;
    padding: 10px 15px ;
    border-radius: 400px;
    background: #B6F2A1;
}


/* noi-500-kw.html */
.scc-500-kw-2 {
    width: 145px;
    height: 76px;
    left: 340px;
    top: 513px;

    border: 1px solid #000000;
    padding: 8px 12px;
}
/* deq-130-permit.html */
.scc-permit-1 {
    width: 125px;
    height: 76px;
    left: 205px;
    top: 415px;

    border: 1px solid #000000;
    padding: 18px 12px;
    font-size: 12px;
    background: #B6F2A1;
}
.scc-permit-2 {
    width: 150px;
    height: 76px;
    left: 720px;
    top: 415px;

    font-size: 12px;
    border: 1px solid #000000;
    padding: 18px 23px;
    border-radius: 400px;
    background: #B6F2A1;
    text-align: center;

}

.return-btn {
    box-sizing: border-box;

    position: absolute;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;

    top: 300px;
    left: 640px;

    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 12px 15px;
}

.arrow {
    position: absolute;
    font-size: 25px;
}
.arrow-1 {
    left: 815px;
    top: 747.2px;
}
.arrow-2 {
    left: 733px;
    top: 820px;

    transform: rotate(90deg);
}
.arrow-3 {
    left: 670px;
    top: 1004px;
}
.arrow-4 {
    left: 723.5px;
    top: 600px;

    transform: rotate(270deg);
}
.arrow-5 {
    left: 726.5px;
    top: 678px;

    transform: rotate(90deg);
}                  